@use '../styles/variables' as *;
@use '~@cb-general/core/Slider/Slider.module' as * with
  ($root: FlatSlider, $height: 0.6em, $thumbSize: 2.8em);

:global {
  .#{$root} {
    color: $colorGreen;
  }
}

.rail,
.track {
  border-radius: 10px;
}

.thumb {
  background-color: transparent;
}

:export {
  root: $root;
}
