@use "sass:math";

// default vars
$root: Slider !default;
$height: 0 !default;
$thumbSize: 0 !default;

:global(.#{$root}) {
  height: $height;
  padding: calc((#{$thumbSize} - #{$height}) / 2) 0;
}

.wrap {
  margin-left: math.div($thumbSize, 2);
  margin-right: math.div($thumbSize, 2);
}

.rail,
.track {
  height: $height;
}

.thumb {
  width: $thumbSize;
  height: $thumbSize;
  margin-left: math.div(-1 * $thumbSize, 2);
  transform: translateY(calc(-50% + #{math.div($height, 2)}));
}
