@use '../styles/classes.module' as *;

$root: $Button;

@function cln($name) {
  @return $root + $name;
}

$square: cln('_square');

:global {
  .#{$root} {
    font-size: 1em;
    background: linear-gradient(#323137, #121113);
    border-radius: 16px;
    text-transform: uppercase;
    border: min(0.2em, 2px) solid #000;
    padding: 1em;
    line-height: 0.5em;
    color: #b3b3b3;
    font-weight: 700;

    &:active {
      background: #131217;
    }

    &:disabled {
      opacity: 0.5;
    }

    &:hover {
      color: #7aaf34;
    }
  }

  .#{$square} {
    border-radius: min(0.4em, 4px);
  }
}

:export {
  root: $root;
  square: $square;
}
