@use '../styles/classes.module' as *;

.#{$Select} {
  font-size: 1em;
  display: inline-flex;
  position: relative;
  color: #4f4f4f;
  height: fit-content;
  border-radius: min(0.4em, 4px);

  &_disabled {
    background-color: #999;
    color: #555;
    pointer-events: none;
  }

  &-item {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: currentColor;
    width: 100%;
    border: 0;
    height: 1.1876em;
    margin: 0;
    display: block;
    padding: min(0.4em, 4px) 0;
    background: none;
    box-sizing: content-box;
    letter-spacing: inherit;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    min-width: 1.6em;
    user-select: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    background-color: #d3d3d3;
    box-shadow: inset 0 1px 3px 1px #666;
    border-radius: inherit;
    padding-right: 2em;
    padding-left: 0.5em;
  }

  &-icon {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5em;
    top: 50%;
    transform: translateY(-50%);
    right: 0.1em;
    position: absolute;
    pointer-events: none;
  }
}
