@use '~@cb-general/core/styles/mixins' as *;
@use '../styles/variables' as *;

$root: RulesButton;

:global(.#{$root}) {
  letter-spacing: 0.1rem;
  border: toRem(2) solid #daa520;
  border-bottom-color: gold;
  border-radius: 100px;
  background: linear-gradient(#262b2f,#1b2024 48%,#12171b 50%,#212629);
  vertical-align: middle;
  line-height: 0;
  font-family: HelveticaNeue-CondensedBold,Impact;
  font-size: 1.5em;
  color: #e1e1e1;
  box-shadow: none;
  min-height: 3.3rem;
  padding: 0 1.5rem;

  &:hover, &:active {
    color: $colorGreen;
  }

  &:active {
    background: #131217;
  }

  &:disabled {
    opacity: 0.8;
  }
}

:export {
  root: $root;
}
