.center {
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column !important;
}

.column-reverse {
  flex-direction: column-reverse !important;
}

.justify-between {
  justify-content: space-between !important;
}

.justify-center {
  justify-content: center !important;
}

.justify-start {
  justify-content: flex-start !important;
}

.justify-end {
  justify-content: flex-end !important;
}

.align-center {
  align-items: center !important;
}

.align-end {
  align-items: flex-end !important;
}

.align-start {
  align-items: flex-start !important;
}

.align-stretch {
  align-items: stretch !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-fill {
  flex: 1 !important;
  min-height: 0;
  min-width: 0;
}

.align-self-end {
  align-self: flex-end !important;
}

$gaps: (
  0: 0,
  1: 1rem,
  1\.5: 1.5rem,
  2: 2rem,
  2\.5: 2.5rem,
  3: 3rem,
) !default;

@each $index, $gap in $gaps {
  .gap-#{$index} {
    gap: $gap !important;
  }
  .row-gap-#{$index} {
    row-gap: $gap !important;
  }
  .column-gap-#{$index} {
    column-gap: $gap !important;
  }
}
