.pointer-events-none {
  pointer-events: none !important;
}

.pointer-events-all {
  pointer-events: all !important;
}

.opacity_10 {
  opacity: 0.1 !important;
}

.opacity_20 {
  opacity: 0.2 !important;
}

.opacity_30 {
  opacity: 0.3 !important;
}

.opacity_40 {
  opacity: 0.4 !important;
}

.opacity_50 {
  opacity: 0.5 !important;
}

.opacity_60 {
  opacity: 0.6 !important;
}

.opacity_70 {
  opacity: 0.7 !important;
}

.opacity_80 {
  opacity: 0.8 !important;
}

.opacity_90 {
  opacity: 0.9 !important;
}
