$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 2,
  6: $spacer * 3,
  // custom values
) !default;

@each $index, $spacer in $spacers {
  // margins
  .m-#{$index} {
    margin: $spacer !important;
  }
  .mx-#{$index} {
    margin-left: $spacer !important;
    margin-right: $spacer !important;
  }
  .my-#{$index} {
    margin-top: $spacer !important;
    margin-bottom: $spacer !important;
  }
  .mt-#{$index} {
    margin-top: $spacer !important;
  }
  .mb-#{$index} {
    margin-bottom: $spacer !important;
  }
  .mr-#{$index} {
    margin-right: $spacer !important;
  }
  .ml-#{$index} {
    margin-left: $spacer !important;
  }
  // negative margins
  @if $spacer > 0 {
    .m-n#{$index} {
      margin: -$spacer !important;
    }
    .mx-n#{$index} {
      margin-left: -$spacer !important;
      margin-right: -$spacer !important;
    }
    .my-n#{$index} {
      margin-top: -$spacer !important;
      margin-bottom: -$spacer !important;
    }
    .mt-n#{$index} {
      margin-top: -$spacer !important;
    }
    .mb-n#{$index} {
      margin-bottom: -$spacer !important;
    }
    .mr-n#{$index} {
      margin-right: -$spacer !important;
    }
    .ml-n#{$index} {
      margin-left: -$spacer !important;
    }
  }

  // paddings
  .p-#{$index} {
    padding: $spacer !important;
  }
  .px-#{$index} {
    padding-left: $spacer !important;
    padding-right: $spacer !important;
  }
  .py-#{$index} {
    padding-top: $spacer !important;
    padding-bottom: $spacer !important;
  }
  .pt-#{$index} {
    padding-top: $spacer !important;
  }
  .pb-#{$index} {
    padding-bottom: $spacer !important;
  }
  .pr-#{$index} {
    padding-right: $spacer !important;
  }
  .pl-#{$index} {
    padding-left: $spacer !important;
  }
}

// auto
// margins
.m-auto {
  margin: auto !important;
}
.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
