@use '../styles/classes.module' as components;

@function cln($name) {
  @return components.$DataTable + '-' + $name;
}

$Pager: cln('Pager');

.#{components.$DataTable} {
  background-image: linear-gradient(#272f33, #191e20);

  .cb-Table {
    color: #bab9b9;
    background-image: linear-gradient(#272f33, #191e20);
  }

  .cb-TableHeader {
    font-size: 1em;
    text-shadow: 0 0 min(0.2em, 2px) #000;
  }

  .cb-TableRow {
    height: 3.4em;
  }

  .cb-TableHeader {
    .cb-HeaderCell {
      font-family: HelveticaNeue, Impact, Arial;
      font-stretch: condensed;
      font-weight: bold;
      font-size: 1.1em;
      color: #667a83;
      text-transform: uppercase;
    }

    .cb-TableCell {
      border: min(0.1em, 1px) solid #131217;
      background-image: linear-gradient(#1e2629, #13181a);
      height: 3.4em;
      padding: 0 min(0.2em, 2px);
      vertical-align: middle;
      box-sizing: border-box;

      &--sortable {
        cursor: pointer;
      }

      &--sort-desc,
      &--sort-asc {
        .cb-HeaderCell {
          display: flex;
          justify-content: center;

          &:after {
            margin-left: 1em;
          }
        }
      }

      &--sort-asc {
        .cb-HeaderCell:after {
          content: '\25B2';
        }
      }

      &--sort-desc {
        .cb-HeaderCell:after {
          content: '\25BC';
        }
      }
    }
  }

  .cb-TableBody {
    .cb-TableCell {
      border-top: min(0.1em, 1px) solid #323138;
      border-bottom: min(0.1em, 1px) solid #111113;
      vertical-align: middle;
      text-align: center;
      font-size: 1.3em;
    }
  }
}

.#{$Pager} {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.4em;
  min-height: 3.4em;
  border-top: min(0.1em, 1px) solid #323138;
  border-bottom: min(0.1em, 1px) solid #111113;

  &__previous {
    transform: translateX(-1.5em);
  }
  &__next {
    transform: translateX(1.5em);
  }
}

:export {
  Pager: $Pager;
}
