@use '../styles/variables' as *;

$root: CgMenuItemButton;

:global(.#{$root}) {
  justify-content: space-between;
  font-weight: 600;
  font-size: 1.5em;
  padding: min(15px, 1.5rem) min(19px, 1.9rem) min(15px, 1.5rem) min(3.7rem, 37px);
  border-bottom: min(0.1rem, 1px) solid #262626;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  color: white;
  width: 100%;

  &:hover {
    color: $colorGreen;
  }

  &:active {
    opacity: 0.8;
  }
}

.icon {
  width: 1.2em;
  height: 1.2em;
}

:export {
  root: $root;
}
