@use '../../../../node_modules/@cb-general/core/styles/mixins' as *;

$root: CgMenuContent;

:global(.#{$root}) {
  flex: 1;
  min-height: 1px;
  overflow: auto;
  @include noScrollBar;
}

:export {
  root: $root;
}
