$root: WsrCircularIndicator;

:global(.#{$root}) {
  background-image: url(./img/big_button_bg.png);
  box-shadow: 0 4px 15px rgb(3 28 1 / 94%);

  :global(svg) {
    padding: 3%;
  }
}

.content {
  width: 68%;
  height: 68%;
}

:export {
  root: $root;
}
