@keyframes blinkInTrade {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

.animate-in-trade {
  opacity: 0.1;
  animation: blinkInTrade 1s infinite;

  &-1 {
    animation: blinkInTrade 1s 1;
  }
}
