$root: GameTableLayout;

:global(.#{$root}) {
  font-size: 1em;
  display: inline-block;
  transform: translateY(0);
  will-change: transform;
  transition: transform 1s;
}

.chips {
  text-align: center;
  margin-top: -3em;
}

.gameRounds {
  margin: -0.5em auto 0;
}

.buttons {
  position: relative;
  z-index: 1;
  margin-top: -0.2em;
}

.toggleButton {
  text-align: center;
  margin-top: -0.7em;
}

.hidden {
  transform: translateY(-76%);
}

.autoplayCounter {
  position: absolute;
  font-size: 1.4em;
  left: 50%;
  top: 63%;
  transform: translateX(-50%);
  z-index: 6;
}

:export {
  root: $root;
}
