$root: GameTableLayout;

:global(.#{$root}) {
  font-size: 1em;
  display: inline-block;
}

.chips {
  text-align: center;
  margin-top: -3em;
}

.gameRounds {
  margin: -0.5em auto 0;
}

.buttons {
  position: relative;
  z-index: 1;
}

.toggleButton {
  text-align: center;
  margin-top: -0.5em;
}

:export {
  root: $root;
}
