$img: "../img/allchips.png";
.chip {
  outline: 0!important;
  display: inline-block;
  width: 60px;
  height: 60px;
  background-position: center;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 1px 3px 1px #222;
  background: transparent url($img) no-repeat;
  backface-visibility: hidden;
  transform: translateZ(0);

  &.v5 {
    background-position: -70px 0;
  }

  &.v10 {
    background-position: -140px 0;
  }

  &.v25 {
    background-position: -210px 0;
  }

  &.v100 {
    background-position: -280px 0;
  }

  &.v500 {
    background-position: -349px 0;
  }

  &.v1000 {
    background-position: 0 -70px;
  }

  &.v5000 {
    background-position: -70px -70px;
  }

  &.v10000 {
    background-position: -140px -70px;
  }

  &.v25000 {
    background-position: -210px -70px;
  }

  &.v100000 {
    background-position: -280px -70px;
  }
}