@use '../styles/variables' as *;

$root: FlatButton;

:global(.#{$root}) {
  border-radius: min(5px, 0.5rem);
  padding: 1rem 1.5rem;
  text-align: center;
  text-transform: uppercase;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 1.2em;
  line-height: 1;
  color: white;

  &:active {
    opacity: 0.8;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.contained {
  background: linear-gradient(182.18deg, #656565 -16.9%, #3b3b3b 98.17%);
}

.outlined {
  color: #5b5b5b;
  border: 1px solid #5b5b5b;

  &:active {
    color: white;
    border-color: white;
    opacity: 1;
  }
}

.green {
  &.contained {
    background: linear-gradient(182.18deg, #99e835 -16.9%, #2b901a 98.17%);
  }

  &.outlined {
    &:active {
      color: $colorGreen;
      border-color: $colorGreen;
    }
  }
}

.red {
  &.contained {
    background: linear-gradient(177.24deg, #e85335 2.29%, #a41414 97.7%);
  }
}

:export {
  root: $root;
}
