@use '!~@cb-general/core/styles/mixins' as *;

$root: Logo;

:global(.#{$root}) {
  position: relative;
  font-size: 29.8em;
  background: url(./img/logo.png) no-repeat center center;
  background-size: contain;
  @include pxSizeToEm(298, 63);
}

.small {
  font-size: 15em;
}

:export {
  root: $root;
}
