@use '~@cb-general/core/styles/mixins' as *;
@use '../styles/variables' as *;

$root: CgInput;

.input {
  font-family: 'IBM Plex Sans', Arial, sans-serif;
  font-size: 1.3em;
  font-weight: 400;
  color: white;
  border-radius: toRem(5);
  background-color: #ffffff17;
  padding: toRem(14) toRem(13) toRem(18);

  &:focus {
    border: 1px solid rgba(0, 133, 66, 1);
  }

  &:invalid,
  &.invalid {
    border: 1px solid $colorRed;
    background-color: rgba(234, 53, 134, 0.1);

    &:focus {
      border: 1px solid $colorRed;
    }
  }

  &::placeholder {
    color: #94959a;
  }
}

:export {
  root: $root;
}
