@use '../../core/styles/mixins' as *;
@use '../styles/variables' as *;
@use '../styles/classes.module' as *;

@mixin invalid {
  border: 1px solid $colorRed;
  background-color: rgba(234, 53, 134, 0.1);

  &:focus {
    border: 1px solid $colorRed;
  }
}

.inputItem {
  appearance: none;
  outline: none;
  width: auto;
  max-width: 100%;
  box-sizing: border-box;
  position: relative;
  resize: none;
  border: none;
  font-family: 'IBM Plex Sans', Arial, sans-serif;
  font-size: 1.3em;
  font-weight: 400;
  color: white;
  border-radius: toRem(5);
  background-color: #ffffff17;
  padding: toRem(14) toRem(13) toRem(18);

  &:focus {
    border: 1px solid rgba(0, 133, 66, 1);
  }

  &:invalid {
    @include invalid;
  }

  &::placeholder {
    color: #94959a;
  }
}

.invalid {
  @include invalid;
}

.fullWidth {
  width: 100%;

  .inputItem {
    width: 100%;
  }
}