$prefix: wsb;

@function cln($name) {
  @return $prefix + '-' + $name;
}

$Root: $prefix;
$Logo: cln('Logo');
$Story: cln('Story');
$GameTable: cln('GameTable');

:export {
  Root: $Root;
  Logo: $Logo;
  GameTable: $GameTable;
}
