$root: WkdGameCard;
$width: 7.5em;
$fontSize: 1em;

@mixin suit($suit) {
  .suit_#{$suit} {
    @if $suit == 'hearts' or $suit == 'diamonds' {
      color: #f00;
    } @else {
      color: black;
    }

    .value:after {
      background: url('./img/#{$suit}.svg');
    }

    .valueCenter:after {
      content: url('./img/#{$suit}.svg');
    }
  }
}

@font-face {
  font-family: Rockwell;
  src: url('fonts/rockwell-bold.woff2') format('woff2'),
    url('fonts/rockwell-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

:global(.#{$root}) {
  display: inline-block;
  width: $width;
  height: $width * 1.35;
  flex: 0 0 $width + 0.1;
  border: none;
  border-radius: 0.3em;
  box-shadow: 0 0 0.3em 0.1em #666;
  transform: rotateY(179.9deg);
  visibility: visible;
  transform-style: preserve-3d;
  margin: 0;
  font-size: $fontSize;
}

.back {
  background: red url(./img/back.png) no-repeat;
  background-size: cover;
  border: 0.3em solid white;
  border-radius: inherit;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  box-sizing: border-box;
}

.face {
  background-color: #fff;
  transform: rotateY(179.9deg);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Rockwell;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 0.3em solid white;
  border-radius: inherit;
  box-sizing: border-box;
}

.value {
  line-height: 1;
  text-align: center;
  font-size: 1.2em;
  display: inline-flex;
  flex-direction: column;
  height: auto;
  align-self: flex-start;
  justify-content: center;
  align-items: center;

  &:last-of-type {
    transform: rotate(179.9deg);
    align-self: flex-end;
  }

  &:after {
    content: '';
    display: block;
    text-align: center;
    font-size: 1em;
    margin-top: 2px;
    width: 0.8em;
    height: 0.8em;
    background-size: contain;
  }
}

.valueCenter {
  flex: 1;
  text-align: center;

  &:after {
    display: block;
    width: 1.5em;
    height: 1.5em;
    margin: auto;
  }
}

@include suit('spades');
@include suit('clubs');
@include suit('diamonds');
@include suit('hearts');

:export {
  root: $root;
}
