.cb-Slider {
  width: 300px;
  height: 6px;
  cursor: pointer;
  background: #C4C4C4;
  border-radius: 10px;

  &__fill {
    background: #71C82B;
    height: 100%;
    border-radius: inherit;
  }

  &__handle {
    transform: translateY(-50%);
  }
}