@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(OpenSans/OpenSansNormal.woff2) format('woff2');
  font-display: fallback;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
    url(OpenSans/OpenSansBold.woff2) format('woff2');
  font-display: fallback;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'),
    url(OpenSans/OpenSansExtra.woff2) format('woff2');
  font-display: fallback;
}

@font-face {
  font-family: HelveticaNeue;
  src: url(HelveticaNeue/HelveticaNeue.woff2) format('woff2'),
    url(HelveticaNeue/HelveticaNeue.woff) format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: HelveticaNeue;
  src: url('HelveticaNeue/HelveticaNeue-CondensedBold_gdi.woff2') format('woff2'),
    url('HelveticaNeue/HelveticaNeue-CondensedBold_gdi.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-stretch: condensed;
  unicode-range: U+0-10FFFF;
  font-display: fallback;
}

@font-face {
  font-family: 'Rockwell';
  src: url(./Rockwell/Rockwell-CondensedBold.woff2) format('woff2'),
    url(./Rockwell/Rockwell-CondensedBold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
  font-stretch: condensed;
  font-display: fallback;
}

@font-face {
  font-family: 'Rockwell';
  src: url(./Rockwell/Rockwell-ExtraBold-Bold.woff2) format('woff2'),
    url(./Rockwell/Rockwell-ExtraBold-Bold.woff) format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: fallback;
}
