@use '../../weekend/styles/classes.module' as wkd;
@use '../styles/classes.module' as *;

.#{$GameTable} {
  font-size: 47rem;
  background-image: url(./img/table.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 1em;
  height: 0.7634em;
  position: relative;

  &__box {
    font-size: 0.1291em;
    background-image: url(./img/box_lid.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 1em;
    height: 0.96637em;
    position: absolute;
    top: 2%;
    right: 23%;
    z-index: 1;
  }

  .#{wkd.$GameCard} {
    font-size: 0.02em;
    position: absolute;
  }
}
