@font-face {
  font-family: 'Myriad Pro';
  src: url(./MyriadPro-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url(./MyriadPro-Bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url(./MyriadPro-Black.woff2) format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url(./MyriadPro-Cond.woff2) format('woff2');
  font-weight: 400;
  font-stretch: condensed;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url(./MyriadPro-BoldCond.woff2) format('woff2');
  font-weight: 700;
  font-stretch: condensed;
  font-style: normal;
  font-display: fallback;
}

.font-MyriadPro {
  font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;
}
