@use '~@cb-general/core/styles/mixins' as *;

$root: WfLogo;

:global(.#{$root}) {
  font-size: 27.1em;
  background: url(img/logo.png) no-repeat center center;
  background-size: contain;
  @include pxSizeToEm(261, 69);
}

.small {
  font-size: 12.8em;
}

:export {
  root: $root;
}
