$root: WkdUserPanel;

:global(.#{$root}) {
  font-size: 1em;
  border-radius: 2.6em;
  padding: min(4px, 0.4em);
  background: linear-gradient(#0a0e10, #0e1618);
  text-transform: uppercase;
  display: inline-block;
  font-family: HelveticaNeue;
  font-stretch: condensed;
  font-weight: 700;
}

.content {
  background: linear-gradient(#060606, #24292c);
  border: min(0.2em, 2px) solid #daa520;
  border-bottom-color: gold;
  border-radius: 2.6em;
  padding: 0.1em;
  display: inline-flex;
  align-items: center;
  min-height: 3.9em;
}

:export {
  root: $root;
}
