$root: WfTradingControls;

:global(.#{$root}) {
  padding: 0.7rem 1.5rem 2rem;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tradingPanels {
  > :global(div:nth-child(n + 2)) {
    margin-top: 1rem;
  }
}

.circularIndicator {
  margin: auto;
}

.typCountdownLabel {
  font-family: HelveticaNeue;
  text-transform: uppercase;
  font-stretch: condensed;
  font-size: 1.6rem;
  color: white;
}

.countdown {
  margin: 1.6rem auto 0;
  width: 21.4rem;
}

.connectionStatus {
  display: inline-flex;
  align-items: center;
  margin-top: 1.5rem;
  font-size: 1.1rem;
  font-weight: bold;
  white-space: pre;
}

:export {
  root: $root;
}
