$root: ChipsStack;

:global(.#{$root}) {
  position: relative;
  display: inline-block;

  .chip {
    &:nth-child(n + 2) {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.label {
  color: white;
  font-family: Rockwell;
  font-stretch: condensed;
  font-weight: bold;
  font-size: 2em;
}

.labelWrap {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
}

:export {
  root: $root;
}
