input[type=text],
input[type=password],
input[type=number],
input[type=url],
input[type=email],
select {
  &.cb-Input {
    color: white;
    height: 30px;
    border: 1px solid;
    border-color: #363c4e;
    background: #131722;
    padding: 5px 9px 2px;
    outline: none;
    box-sizing: border-box;
  }
}

input:focus, select:focus {
  &.cb-Input {
    outline: none;
  }
}

input[type=number] {
  &.cb-Input {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    -moz-appearance: textfield;
  }
}

input[type="radio"] {
  &.cb-Input {
    vertical-align: middle;

    + label {
      margin-left: 10px;
    }
  }
}

input[type="checkbox"] {
  &.cb-Input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0 5px 0 0;
    vertical-align: middle;
    position: relative;
    top: -1px;
  }
}

.input-error {
  &.cb-Input {
    color: $selectedColor;
  }
}

textarea {
  &.cb-Input {
    resize: none;
    background-color: #1e222d;
    border: 1px solid $labelColor;
  }
}