.cb-Hint {
  $arrowSize: 1em;
  $borderWidth: 2px;
  $borderSize: calc(1em + 2px);
  $borderColor: #8b8989;

  &.no-transform {
    .cb-Hint-container {
      transform: none !important;
    }
  }

  .cb-Hint-container {
    font-size: 1em;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      border: $borderWidth solid $borderColor;
      border-radius: 10px;
      background-image: linear-gradient(0.0deg, #161313 0%, #161313 31%, #383536 100%);
      box-shadow: 0 4px 6px 3px #060505;
      box-sizing: border-box;
      z-index: -1;
      width: 100%;
      height: 100%;
    }

    .cb-InfoIcon {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-40%);
      font-size: 1.5em;
    }
  }


  .cb-Hint-arrow,
  .cb-Hint-arrow-border {
    position: absolute;
    background: transparent;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 70%;
      height: 70%;
      transform: translate(-50%, -50%) rotate(45deg);
      box-sizing: border-box;
    }
  }

  .cb-Hint-arrow {
    width: $arrowSize;
    height: $arrowSize;
  }

  .cb-Hint-arrow-border {
    width: $borderSize;
    height: $borderSize;

    &:before {
      background: $borderColor;
    }
  }

  &.cb-Hint--arrow-side-right {
    .cb-Hint-container {
      transform: translateX(-100%);
    }

    .cb-Hint-arrow {
      right: 0;
      top: 50%;
      clip: rect(0, $arrowSize, $arrowSize, calc(1em-0.5px));
      transform: translate(calc(50% - 2.6px), -50%);
      z-index: 1;

      &:before {
        background-image: linear-gradient(-45deg,#161313,#161313 31%,#383536);
        z-index: 1;
      }
    }

    .cb-Hint-arrow-border {
      right: 0;
      top: 50%;
      clip: rect(0, $borderSize, $borderSize, $arrowSize/2);
      transform: translate(49%, -50%);
    }

    &.cb-Hint--arrow-align-center  {
      .cb-Hint-container {
        transform: translateX(-100%) translateY(-50%);
      }
    }

    &.cb-Hint--arrow-align-start {
      .cb-Hint-arrow, .cb-Hint-arrow-border {
        top: 25%;
      }

      .cb-Hint-arrow {
        &:before {
          background-image: linear-gradient(-45deg,#312e2f,#2f2c2d 31%,#2b2829);
        }
      }
    }
  }

  &.cb-Hint--arrow-side-left {
    .cb-Hint-arrow {
      left: 0;
      top: 50%;
      clip: rect(0, $arrowSize/2 + 0.1em, $arrowSize, 0);
      transform: translate(calc(-50% + 2px), -50%);
      z-index: 1;

      &:before {
        background-image: linear-gradient(-45deg,#161313,#161313 31%,#383536);
        z-index: 1;
      }
    }

    .cb-Hint-arrow-border {
      left: 0;
      top: 50%;
      clip: rect(0, $arrowSize/2 + 0.1em, $borderSize, 0);
      transform: translate(-48%, -50%);
    }

    .cb-InfoIcon {
      position: absolute;
      top: 0;
      left: initial;
      right: 0;
      transform: translateX(40%);
    }

    &.cb-Hint--arrow-align-center {
      .cb-Hint-container {
        transform: translateY(-50%);
      }
    }
  }

  &.cb-Hint--arrow-side-bottom {
    .cb-Hint-container {
      transform: translateY(-100%) translateX(calc(-100% + 2.3em));
    }

    &.cb-Hint--arrow-align-end {
      .cb-Hint-arrow {
        right: 0;
        bottom: 0;
        clip: rect($arrowSize/2, $arrowSize, $arrowSize, 0);
        transform: translate(calc(-50% - 2px), calc(50% - 2px));
        z-index: 1;

        &:before {
          background: #161313;
          z-index: 1;
        }
      }

      .cb-Hint-arrow-border {
        right: 0;
        bottom: 0;
        clip: rect($arrowSize/2 + 0.1em, $borderSize, $borderSize, 0);
        transform: translate(-49%, 48%);
      }
    }
  }

  &.cb-Hint--arrow-side-top {
    .cb-Hint-arrow {
      right: 0;
      top: 0;
      clip: rect(0, $arrowSize, $arrowSize/2, 0);
      transform: translate(calc(-50% - 2px), calc(-50% + 2px));
      z-index: 1;

      &:before {
        background: #383536;
        z-index: 1;
      }
    }

    .cb-Hint-arrow-border {
      right: 0;
      top: 0;
      clip: rect(0, $borderSize, $arrowSize/2 + 0.1em, 0);
      transform: translate(-49%, -48%);
    }
  }

  .cb-Hint-content {
    padding: 0.4em 2em;
    font-family: Raleway;
    text-align: center;
    width: max-content;
    max-width: 100%;

    .cb-Hint-content__title {
      font-size: 1.17em;
      font-weight: 700;
      color: #07E275;
      text-transform: uppercase;
      white-space: initial;
      margin-top: 0;
      margin-bottom: 0;
    }

    .cb-Hint-content__text {
      margin: 0;
      padding: 0;
      color: white;
      white-space: pre-line;
    }
  }
}