.overlay {
  position: fixed;
  z-index: 1300;
  inset: 0;
}

.clickable {
  z-index: -1;
  position: fixed;
  inset: 0;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}
