@use '../styles/classes.module' as *;
@use '../styles/variables' as *;

:global(.#{$MenuItemButton}) {
  justify-content: space-between;
  font-weight: 600;
  font-size: 1.5em;
  padding-left: 3.7rem;
  padding-right: 1.9rem;

  &:hover {
    color: $colorGreen;
  }

  &:active {
    opacity: 0.8;
  }
}

.icon {
  width: 1.2em;
  height: 1.2em;
}
