@use '~@cb-general/core/styles/mixins' as *;

$root: AutoplayCounter;

:global(.#{$root}) {
  font-size: 1em;
  text-align: center;
  display: inline-block;
  color: white;
  font-weight: bold;
  padding: toRem(8);
  border: toRem(2) solid #FFCC00;
  border-radius: toRem(15);
  background: linear-gradient(to top, #1B1C1B, #111010);
  white-space: nowrap;
}

:export {
  root: $root;
}
