.cb-CircularIndicator {
  position: relative;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  margin: auto auto;
  text-align: center;
  background: transparent url(../img/bg.png) no-repeat center center;
  background-size: contain;
  user-select: none;

  svg {
    padding: 8%;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
  }

  svg circle:first-of-type {
    fill: transparent;
    stroke-width: 50px;
    stroke-dasharray: 439;
  }

  .reverse {
    transform-origin: center;
    transform: rotateX(180deg);
  }
}