$root: CoreRoot;

:global {
  .#{$root} {
    font-size: 10px;
    height: 100%;

    &.ios.iframe {
      position: fixed;
    }

    body {
      font-size: 1.6rem;
      padding: 0 !important;
      margin: 0;
      height: 100%;
    }

    #root {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

:export {
  root: $root;
}
