@use '../styles/classes.module' as *;

.#{$Root} {
  font-size: 10px;
  height: 100%;

  body {
    font-size: 1.6rem;
    padding: 0 !important;
    margin: 0;
    height: 100%;
  }

  #root {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
