@font-face {
  font-family: 'Rockwell-Bold';
  src: url('../fonts/rockwell-bold.woff2') format('woff2'),
    url('../fonts/rockwell-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
