@use '../styles/variables' as *;

$root: FlatMenuHeaderButton;

:global(.#{$root}) {
  font-weight: 500;
  font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;
  color: white;

  &:hover {
    color: $colorGreen;
  }

  &:active {
    opacity: 0.8;
  }
}

.label {
  margin-left: 1.4rem;
  margin-top: -0.2em; // fix IBM Plex Sans incorrect align
}

:export {
  root: $root;
}
