$prefix: Core;

@function cln($name) {
  @return $prefix + $name;
}

$ExampleComponent: cln('ExampleComponent');
$Root: cln('Root');
$Viewport: cln('Viewport');
$Modal: cln('Modal');
$DataTable: cln('DataTable');
$Form: cln('Form');
$FormField: cln('FormField');
$FieldsLayout: cln('FieldsLayout');
$Slider: cln('Slider');
$ButtonBase: cln('ButtonBase');
$Select: cln('Select');
$InfoPanel: cln('InfoPanel');
$Tooltip: cln('Tooltip');

:export {
  ExampleComponent: $ExampleComponent;
  Root: $Root;
  Viewport: $Viewport;
  Modal: $Modal;
  DataTable: $DataTable;
  FormField: $FormField;
  FieldsLayout: $FieldsLayout;
  Form: $Form;
  Slider: $Slider;
  ButtonBase: $ButtonBase;
  Select: $Select;
  InfoPanel: $InfoPanel;
  Tooltip: $Tooltip;
}
