@import 'helpers/display';
@import 'helpers/flexbox';
@import 'helpers/sizing';
@import 'helpers/typography';
@import 'helpers/text';
@import 'helpers/spacing';
@import 'helpers/colors';

.svg-icon {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  flex-shrink: 0;
  user-select: none;
}
