@use '../styles/variables' as *;
@use 'sass:math';

$itemWidth: 2.9em;
$itemHeight: 2.5em;
$sliderWidth: 3.5em;

.root {
  --Box-p: 0.7rem 0;
  --Box-fontSize: 1rem;

  position: relative;
  background: linear-gradient(#19191c, #2b2a2f);
  border-radius: 3px;
  font-size: var(--Box-fontSize);
}

.selected {
  color: $colorGreen;
}

.item {
  width: $itemWidth;
  height: $itemHeight;
  letter-spacing: -1px;
  cursor: pointer;
  text-shadow: 0 1px 2px #000;
  transition: color 0.2s;
  line-height: 0.7;
  white-space: pre-wrap;
}

.thumb {
  top: 0;
  position: absolute;
  transition: transform 0.3s;
  will-change: transform;

  .thumbShadow {
    pointer-events: none;
    width: $sliderWidth;
    height: $itemHeight;
    background: linear-gradient(rgba(145, 232, 66, 0) 15%, rgba(85, 135, 40, 0.91));
    box-shadow: inset 0 1px 3px #111;
    transform: translateX(-0.3em);

    &:after {
      content: '';
      transform: translateY(-29%);
      position: absolute;
      top: 0;
      left: 0;
      width: $sliderWidth;
      height: math.div($sliderWidth, math.div(35, 51));
      background: url(./img/thumb.png) no-repeat;
      background-size: 100% 100%;
      background-position: center;
    }
  }
}

:export {
  itemWidth: $itemWidth;
}
