$root: ChartModeDropzone;

:global(.#{$root}) {
  background-repeat: repeat;
  color: white;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  box-sizing: border-box;
  justify-content: flex-start;
  position: relative;
}

.icon {
  font-size: 5em;
}

.label {
  font-size: 3.6em;
  font-family: Bernard;
}

.text {
  text-align: left;
  line-height: 1;
}

.sublabel {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 1.6em;
  text-align: left;
}

.down {
  background-image: url(./img/dropzone_red_bg.png);

  .icon {
    color: #410909;
  }
}

.up {
  background-image: url(./img/dropzone_green_bg.png);

  .icon {
    color: #094109;
  }
}

.chips {
  position: absolute;
}

.child_first {
  border-top-left-radius: 2rem;
  padding-left: 3rem;

  .text {
    margin-left: 1rem;
  }

  .chips {
    top: 1em;
    left: 9em;
  }
}

.child_last {
  border-top-right-radius: 2rem;
  flex-direction: row-reverse;
  padding-right: 3rem;

  .text {
    margin-right: 1rem;
    display: flex;
    flex-direction: column-reverse;
  }

  .chips {
    top: 1em;
    right: 9em;
  }
}

:export {
  root: $root;
}
