@use '~@cb-general/core/styles/mixins' as *;

$root: CgTable;
$border: toRem(1) solid rgba(69, 71, 88, 1);

:global {
  $height: 2.4em;

  .#{$root} {
    font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;

    thead {
      tr:first-child {
        th {
          border-top: $border;

          &:first-child {
            border-top-left-radius: toRem(5);
          }

          &:last-child {
            border-top-right-radius: toRem(5);
          }
        }
      }
    }

    .cb-TableHeaderCell {
      text-align: left;
    }

    .cb-Table_sticky {
      .cb-HeaderCell {
        position: sticky;
      }
    }

    .cb-HeaderCell {
      text-transform: uppercase;
      font-family: Roboto, Arial, Helvetica, sans-serif;
      font-weight: 500;
      font-size: 1.1em;
      padding: toRem(11) toRem(9);
    }

    .cb-TableCell {
      border-bottom: $border;
      border-left: $border;
      position: relative;
      background: #141721;

      &:last-child {
        border-right: $border;
      }

      &_sortable {
        cursor: pointer;
      }

      &_sort_desc:after {
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: #37a6ef;
      }

      &_sort_asc:after {
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        top: 0;
        left: 0;
        background: #37a6ef;
      }
    }

    .cb-TableBody {
      .cb-TableRow {
        height: $height;
      }

      .cb-TableCell {
        font-weight: 500;
        font-size: 1.1em;
        text-align: left;
        padding: toRem(14) toRem(11);
      }

      .cb-TableRow:last-child {
        .cb-TableCell {
          &:first-child {
            border-bottom-left-radius: toRem(5);
          }

          &:last-child {
            border-bottom-right-radius: toRem(5);
          }
        }
      }
    }
  }
}

:export {
  root: $root;
}
