$root: ClassicTable;

:global {
  $height: 2.4em;

  .#{$root} {
    font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;

    .cb-HeaderCell {
      z-index: 3;
      border: 1px solid #131722;
      height: $height;
      padding: 0 0.3em;
      background: #1c2030;
      position: relative;
    }

    .cb-HeaderCellContent {
      text-transform: uppercase;
      font-size: 0.8em;
      font-weight: 700;
      color: #667a83;
    }

    .cb-HeaderCell {
      &_sortable {
        cursor: pointer;
      }

      &_sort_desc:after {
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: #37a6ef;
      }

      &_sort_asc:after {
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        top: 0;
        left: 0;
        background: #37a6ef;
      }
    }

    .cb-TableBody {
      .cb-TableRow {
        height: $height;
      }

      .cb-TableCell {
        font-size: 0.9em;
        border-bottom: 1px solid #363c4e;
        text-align: center;
      }
    }
  }
}

:export {
  root: $root;
}
