@use '../styles/classes.module' as *;

:global {
  $bodyBg: #090a0f;

  .#{$Root} {
    body {
      font-size: 1rem;
      background: $bodyBg;
      color: white;
      font-family: IBM Plex Sans;
      overflow: auto;
      touch-action: manipulation; // to disable double tap zoom on IOS
    }

    #root {
      z-index: 1;
      margin: 0 auto;
      top: 0;
      position: fixed;
      height: 100%;
      align-items: initial;
    }
  }

  .#{$AppLayout} {
    background: $bodyBg;
    width: 100%;
    height: 100%;
    position: relative;
  }
}
