@use '../../../../node_modules/@cb-general/core/styles/mixins' as *;

.root {
  color: #799097;
}

.checked {
  color: #1592e6;
}

.label {
  margin-left: toRem(10);
}

.checkedIconWrap {
  display: flex;
  position: relative;
}

.checkedIcon {
  position: absolute;
  top: 0;
  left: 0;
}
