@use '../styles/variables' as *;
@use '~@cb-general/core/styles/mixins' as *;

$root: FlatRadio;
$checkedColor: var(--#{$root}-checkedColor, $colorGreen);

.icon {
  fill: none;
  font-size: 2.5em;
}

.checked {
  color: $checkedColor;
}

.label {
  margin-left: toRem(9);
}

:export {
  root: $root;
}
