.input {
  font-size: 1em;
  font-family: inherit;
  color: #fff;
  border: 1px solid #363c4e;
  background-color: #131722;
  padding: 0.5rem 0.9rem 0.2rem;
  min-height: 3rem;

  &:invalid,
  &.invalid {
    border: 1px solid rgb(48 127 226);
    background-color: rgba(48, 127, 226, 0.3);

    &:focus {
      border: 1px solid rgb(48 127 226);
    }
  }
}
