@use '../styles/classes.module' as components;

@function cln($name) {
  @return components.$FormField + '-' + $name;
}

$Label: cln('Label');
$Control: cln('Control');
$Error: cln('Error');

.#{$Control} {
  position: relative;

  .#{$Error} {
    position: absolute;
  }
}

:export {
  Label: $Label;
  Control: $Control;
  Error: $Error;
}
