@use '../styles/classes.module' as components;

@function cln($name) {
  @return components.$FormField + '-' + $name;
}

$Label: cln('label');
$Control: cln('control');
$Error: cln('error');
$Item: cln('item');

:export {
  Label: $Label;
  Control: $Control;
  Error: $Error;
  Item: $Item;
}
