@use './FormField.module' as formField;
@use '../styles/classes.module' as *;

.#{$FieldsLayout} {
  &_type_inline {
    display: inline-grid;
    grid-template-columns: auto 1fr;
    grid-gap: min(1.5em, 15px) min(1em, 10px);

    .#{formField.$Label} {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    &:nth-child(n + 2) {
      margin-left: min(1em, 10px);
    }
  }

  &_type_stacked {
    .#{$FormField}:nth-child(n + 2) {
      margin-top: min(1em, 10px);
    }

    .#{formField.$Label} {
      margin-bottom: min(2px, 0.2em);
    }
  }
}

.#{formField.$Control} {
  &_fullWidth {
    width: 100%;
  }
}
