@use './FormField.module' as formField;
@use '../styles/classes.module' as *;

.#{$FieldsLayout} {
  &_type_inline {
    display: inline-grid;
    grid-template-columns: auto 1fr;

    .#{formField.$Item} {
      padding: min(0.8em, 8px) 0;
    }

    .#{formField.$Label} {
      align-self: center;
      text-align: right;
      padding-right: min(1em, 10px);
    }

    .#{formField.$Error} {
      margin-top: max(-0.8em, -8px);
    }

    &:nth-child(n + 2) {
      margin-left: min(1em, 10px);
    }
  }

  &_type_stacked {
    .#{$FormField}:nth-child(n + 2) {
      margin-top: min(1em, 10px);
    }

    .#{formField.$Label} {
      margin-bottom: min(2px, 0.2em);
    }
  }
}

.#{formField.$Control} {
  &_fullWidth {
    width: 100%;
  }
}
