@use '../styles/variables' as *;
@use '../styles/classes.module' as components;

@function cln($name) {
  @return components.$TradingPanel + '-' + $name;
}

/* component classes */
$Header: cln('Header');
$Content: cln('Content');
$Buttons: cln('Buttons');
$Separator: cln('Separator');
$Symbol: cln('Symbol');
$Select: cln('Select');
$SliderLabel: cln('SliderLabel');
$TypBody: cln('TypBody');
$TypMoney: cln('TypMoney');
$ContentTopRight: cln('ContentTopRight');
$TypHeaderLabel: cln('TypHeaderLabel');
$TypHeaderValue: cln('TypHeaderValue');
$active: components.$TradingPanel + '_active';

/* component variables */
$borderRadius: 0.5em;

.#{components.$TradingPanel} {
  font-size: 1em;
  position: relative;
  border-top: 0.1em solid #666;
  border-radius: $borderRadius;
  cursor: pointer;
  box-sizing: border-box;
}

.#{$active} {
  box-shadow: 0 min(0.1em, 1px) min(0.2em, 2px) min(0.1em, 1px) #111, min(0.7em, 7px) 0 0 0 #6fc103,
    max(-0.7em, -7px) 0 0 0 #6fc103;
  cursor: default;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-100%, -50%);
    border-left: min(7px, 0.7em) solid #212325;
    border-top: min(0.6em, 6px) solid transparent;
    border-bottom: min(5px, 0.5em) solid transparent;
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(100%, -50%);
    border-right: min(0.7em, 7px) solid #212325;
    border-top: min(0.6em, 6px) solid transparent;
    border-bottom: min(0.5em, 5px) solid transparent;
  }
}

.#{$Header} {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.3em 0.6em 0.5em 0.9em;
  background-image: linear-gradient(#4d4c56, #2b2b32 49%, #1e1f25 50%, #141519);
  border-top: 0.3em solid #333;
  border-bottom: 0.1em solid #666;
  border-radius: $borderRadius $borderRadius 0 0;
  color: #b3b3b3;
  line-height: 1.5;
}

.#{$Content} {
  padding: 0 0.6em 0.5em 0.5em;
  background-image: linear-gradient(#3b3b42, #26262e);
  border-radius: 0 0 $borderRadius $borderRadius;
  position: relative;
}

.#{$Buttons} {
  display: flex;
  padding: 0.4em 0.2em 0.3em;
  background-color: #000;
  border-radius: 0.7em;
  box-shadow: inset 0 0 0.2em 0.1em #555;
  overflow: hidden;
  position: relative;

  .#{components.$TradeButton} {
    flex: 1;
  }

  .#{$Select} {
    position: absolute;
    z-index: 99;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
    text-align: center;
    background-color: #000;
    box-shadow: inset 0 0 2px 1px #444;
    padding: 0.1rem 0.3rem 0.3rem;
    border-radius: min(0.5em, 5px);
    font-size: 1.3em;
  }
}

.#{$Separator} {
  width: min(0.1em, 1px);
  min-height: 100%;
  border-left: min(0.1em, 1px) solid #161519;
  border-right: min(0.1em, 1px) solid #38363d;
  margin: 0 min(0.8em, 8px);
  display: inline-flex;
}

.#{$Symbol} {
  display: flex;
  align-items: center;
  font-weight: bold;
  height: 100%;
  font-size: 1.5em;
}

.#{$SliderLabel} {
  margin: 0 0.3em 0.2em;
  font-size: 1.4em;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.#{$TypBody} {
  font-size: 1.68em;
  font-weight: bold;
}

.#{$TypMoney} {
  font-size: 1.8em;
  font-weight: bold;
  color: white;
}

.#{$ContentTopRight} {
  margin-top: 0.7em;
  margin-bottom: 0.1em;
  text-align: center;
}

.#{$TypHeaderLabel} {
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 700;
  margin-right: 0.6rem;
  display: inline;

  .#{$active} & {
    color: $colorGreen;
  }
}

.#{$TypHeaderValue} {
  font-size: 2.6em;
  font-weight: 700;
  line-height: 0.7;
  display: inline;
  color: white;
  opacity: 0.5;

  .#{$active} & {
    opacity: 1;
  }
}

:export {
  Buttons: $Buttons;
  Separator: $Separator;
  Symbol: $Symbol;
  Select: $Select;
  Content: $Content;
  Header: $Header;
  SliderLabel: $SliderLabel;
  TypBody: $TypBody;
  TypMoney: $TypMoney;
  ContentTopRight: $ContentTopRight;
  TypHeaderLabel: $TypHeaderLabel;
  TypHeaderValue: $TypHeaderValue;
}
