@use '../styles/variables' as *;

$root: FlatConnectionStatus;

:global(.#{$root}) {
  --ofline-color: #{$colorRed};
  --online-color: #{$colorGreen};
  // component styles
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  background-color: var(--ofline-color);
  border-radius: 50%;
}

.online {
  background-color: var(--online-color);
}

:export {
  root: $root;
}
