@use '../styles/classes.module' as components;

@function cln($name) {
  @return components.$App + '-' + $name;
}

$Ticker: cln('Ticker');
$ChartControls: cln('ChartControls');
$ChartControlsSeparator: cln('ChartControlsSeparator');
$Panel: cln('Panel');
$TabsContainer: cln('TabsContainer');
$Tabs: cln('Tabs');
$TradingControls: cln('TradingControls');

.#{components.$App} {
  font-size: 1rem;
  background-color: #010101;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.#{$Ticker} {
  font-size: 2.2rem;
  width: 14.5rem;
}

.#{$ChartControls} {
  font-size: 1rem;
  min-height: 5.5rem;
  height: 5.5rem;
  box-shadow: 0 min(0.4em, 4px) min(0.4em, 4px) rgb(0 0 0 / 90%);
  background: url(./img/btnbar_bg.png);
  background-size: contain;
  padding: 0.3rem 1rem;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
}

.#{$ChartControlsSeparator} {
  height: 80%;
  width: min(0.1em, 1px);
  border-left: min(0.1em, 1px) solid #161519;
  border-right: min(0.1em, 1px) solid #38363d;
  margin: 0 min(0.8em, 8px);
  display: inline-flex;
}

.#{$Panel} {
  background: #17161a url(./img/panel_bg.png) repeat-x;
}

.#{$TabsContainer} {
  border-top: min(0.1rem, 1px) solid #444;
  height: 25rem;
  min-height: 25rem;
}

.#{$Tabs} {
  margin: 0.5rem auto 0;
  padding: 0 2rem;
}

.#{$TradingControls} {
  border-left: min(0.1rem, 1px) solid #444;
  width: 35.5rem;
}

:export {
  Ticker: $Ticker;
  ChartControls: $ChartControls;
  ChartControlsSeparator: $ChartControlsSeparator;
  Panel: $Panel;
  TabsContainer: $TabsContainer;
  Tabs: $Tabs;
  TradingControls: $TradingControls;
}
