$root: CoreViewport;

:global(.#{$root}) {
  width: 100vw;
  max-height: 100vh;
  position: relative;
}

.animate {
  transition: height 0.1s, maxWidth 0.1s;
}

.fixed {
  position: fixed;
  top: 0;
  z-index: 1;
}

:export {
  root: $root;
}
