@use 'sass:math';

@mixin noScrollBar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */

  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin pxSizeToEm($width, $height) {
  @if ($width > $height) {
    width: 1em;
    height: #{math.div(1, math.div($width, $height))}em;
  } @else {
    height: 1em;
    width: #{math.div(1, math.div($height, $width))}em;
  }
}

@function css-function($function, $values...) {
  @return $function + unquote('(') + $values + unquote(')');
}

@function css-min($values...) {
  @return css-function(min, $values);
}

@function css-max($values...) {
  @return css-function(max, $values);
}

@function css-clamp($values...) {
  @return css-function(clamp, $values);
}

@function toEm($value) {
  @if ($value > 0) {
    @return css-min(#{$value}px, #{math.div($value, 10)}em);
  } @else {
    @return css-max(#{$value}px, #{math.div($value, 10)}em);
  }
}

@function toRem($value) {
  @if ($value > 0) {
    @return css-min(#{$value}px, #{math.div($value, 10)}rem);
  } @else {
    @return css-max(#{$value}px, #{math.div($value, 10)}rem);
  }
}

@mixin mobile {
  @media (max-width: 896px), (max-height: 504px) {
    @content;
  }
}

@mixin responsiveFontSize($maxWidth, $maxHeight, $default: 10px) {
  font-size: min(
    #{$default},
    min(calc(1vw * #{math.div(1000, $maxWidth)}), calc(1vh * #{math.div(1000, $maxHeight)}))
  );
}
