@use '../styles/classes.module' as *;

:global(.#{$MenuHeader}) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(180deg, #2d2d2d, rgba(45, 45, 45, 0));
  font-family: Roboto;
  font-size: 1.4em;
}
