$root: FlatMenuItemButton;

:global(.#{$root}) {
  justify-content: space-between;
  font-weight: 600;
  font-size: 1.5em;
  padding-left: 3.9rem;
  padding-right: 1.9rem;
}

.icon {
  width: 1.2em;
  height: 1.2em;
}

:export {
  root: $root;
}
