@use '../styles/variables' as *;

$root: WkdTicker;

@font-face {
  font-family: 'LedBoard';
  src: url('fonts/led_board-7-webfont.woff2') format('woff2'),
    url('fonts/led_board-7-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

:global(.#{$root}) {
  font-family: LedBoard, sans serif;
  background-color: #0e1112;
  user-select: none;
  cursor: default;
  overflow: hidden;
  border-left: 1px solid #27292a;
  border-right: 1px solid #27292a;
  position: relative;
  padding: 0 0.6em;
  color: $colorOrange;
  box-sizing: border-box;
}

.content {
  background-color: #000;
  border-left: 1px solid #181b1c;
  border-right: 1px solid #181b1c;
  padding: 0.2em 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.item {
  padding: 0 0.6em;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  box-sizing: border-box;

  &.position {
    &_left {
      text-align: left;
      color: $colorRed;
    }

    &_right {
      text-align: right;
      color: $colorGreen;
    }
  }
}

:export {
  root: $root;
}
