@use '~@cb-general/weekend/styles/variables' as *;

$root: WkdTicker;

:global(.#{$root}) {
  background-color: #0e1112;
  user-select: none;
  cursor: default;
  overflow: hidden;
  border-left: 1px solid #27292a;
  border-right: 1px solid #27292a;
  position: relative;
  padding: 0 0.6em;
  box-sizing: border-box;
}

.content {
  background-color: #000;
  border-left: 1px solid #181b1c;
  border-right: 1px solid #181b1c;
  padding: 0.2em 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
}

:export {
  root: $root;
}
