/**
* Rangeslider
*/
.rangeslider {
  margin: 6px 0;
  position: relative;
  box-sizing: border-box;
  width: 300px;
  border: 2px solid #5e5e62;
  background:  #111;
  cursor: pointer;
  height: 9px;
  border-radius: 10px;

  .rangeslider__fill {
    display: block;
    height: 100%;
    border-radius: 10px;
    top: 0;
    background: url(../img/inputrangeprogress.png) repeat-x;
    background-size: contain;
    transform: translateZ(0);
  }

  .rangeslider__handle {
    cursor: pointer;
    position: absolute;
    background: url(../img/inputrangethumb.png) no-repeat center center;
    background-size: contain;
    top: -7px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    will-change: transform;

    &:hover {
      .rangeslider__tooltip {
        opacity: 1;
      }
    }
  }

  .rangeslider__tooltip {
    text-align: center;
    position: relative;
    font-weight: inherit;
    font-size: inherit;
    transition: all 100ms ease-in;
    display: inline-block;
    color: white;
    background-image: linear-gradient(#7e797f, #535156);
    padding: 2px 6px;
    border-radius: 2px;
    width: auto;
    height: auto;
    opacity: 1;
    bottom: 28px;


    &:after {
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid rgb(84, 82, 87);
      left: 50%;
      margin-left: -5px;
      bottom: -4px;
    }

    span {
      display: inline-block;
      line-height: 100%;
    }
  }
}

/**
* Rangeslider - Labels
*/
.rangeslider__label-list {
  .rangeslider__label {
    position: absolute;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    top: 10px;
  }
}