$prefix: WfMobile;

@function cln($name) {
  @return $prefix + $name;
}

$Root: $prefix;
$Story: cln('Story');
$AppLayout: cln('AppLayout');

:export {
  Root: $Root;
  Story: $Story;
  AppLayout: $AppLayout;
}
