@use '~@cb-general/weekend/styles/variables' as *;

$sliderHeight: 1em !default;
$sliderColor: false !default;
$sliderBg: #111 !default;
$sliderTrackBg: url(./img/inputrangeprogress.png) repeat-x !default;
$sliderBorder: min(0.2em, 2px) solid #5e5e62 !default;

@use '~@cb-general/core/Slider/Slider.module' as * with (
  $root: WkdSlider,
  $height: $sliderHeight,
  $thumbSize: 2em
);

:global(.#{$root}) {
  @if $sliderColor {
    color: $sliderColor;
  }
}

.rail {
  background: $sliderBg;
}

.rail,
.track {
  border-radius: 10px;
  @if $sliderBorder {
    border: $sliderBorder;
  }
}

.track {
  @if $sliderTrackBg {
    background: $sliderTrackBg;
    background-size: contain;
  }
}

.thumb {
  background: url(./img/inputrangethumb.png);
  background-size: contain;
  box-shadow: 0 min(0.2em, 2px) min(0.3em, 3px) 0 rgb(0 0 0 / 60%);
  border-radius: 50%;
}

:export {
  root: $root;
}
