.width {
  width: var(--box-width);
}
.height {
  width: var(--box-height);
}
.maxWidth {
  max-width: var(--box-maxWidth);
}
.maxHeight {
  max-height: var(--box-maxHeight);
}
.minWidth {
  min-width: var(--box-minWidth);
}
.minHeight {
  min-height: var(--box-minHeight);
}
.size {
  width: var(--box-size);
  height: var(--box-size);
}
.fontSize {
  font-size: var(--box-fontSize);
}
.fontFamily {
  font-family: var(--box-fontFamily);
}
.color {
  color: var(--box-color);
}
.p {
  padding: var(--box-p);
}
.px {
  padding-left: var(--box-px);
  padding-right: var(--box-px);
}
.py {
  padding-top: var(--box-py);
  padding-bottom: var(--box-py);
}
.pt {
  padding-top: var(--box-pt);
}
.pb {
  padding-bottom: var(--box-pb);
}
.pl {
  padding-left: var(--box-pl);
}
.pr {
  padding-right: var(--box-pr);
}
.m {
  margin: var(--box-m);
}
.mx {
  margin-left: var(--box-mx);
  margin-right: var(--box-mx);
}
.my {
  margin-top: var(--box-my);
  margin-bottom: var(--box-my);
}
.mt {
  margin-top: var(--box-mt);
}
.mb {
  margin-bottom: var(--box-mb);
}
.ml {
  margin-left: var(--box-ml);
}
.mr {
  padding-right: var(--box-mr);
}
.opacity {
  opacity: var(--box-opacity);
}
.top {
  top: var(--box-top);
}
.bottom {
  bottom: var(--box-bottom);
}
.left {
  left: var(--box-left);
}
.right {
  right: var(--box-right);
}