@use 'mixins' as *;

.maxWidth {
  max-width: var(--Box-maxWidth);
}
.maxHeight {
  max-height: var(--Box-maxHeight);
}
.minWidth {
  min-width: var(--Box-minWidth);
}
.minHeight {
  min-height: var(--Box-minHeight);
}
.size {
  width: var(--Box-size);
  height: var(--Box-size);
}
.fontSize {
  font-size: var(--Box-fontSize);
}
.fontFamily {
  font-family: var(--Box-fontFamily);
}
.color {
  color: var(--Box-color);
}
.p {
  padding: var(--Box-p);
}
.px {
  padding-left: var(--Box-px);
  padding-right: var(--Box-px);
}
.py {
  padding-top: var(--Box-py);
  padding-bottom: var(--Box-py);
}
.pt {
  padding-top: var(--Box-pt);
}
.pb {
  padding-bottom: var(--Box-pb);
}
.pl {
  padding-left: var(--Box-pl);
}
.pr {
  padding-right: var(--Box-pr);
}
.m {
  margin: var(--Box-m);
}
.mx {
  margin-left: var(--Box-mx);
  margin-right: var(--Box-mx);
}
.my {
  margin-top: var(--Box-my);
  margin-bottom: var(--Box-my);
}
.mt {
  margin-top: var(--Box-mt);
}
.mb {
  margin-bottom: var(--Box-mb);
}
.ml {
  margin-left: var(--Box-ml);
}
.mr {
  padding-right: var(--Box-mr);
}
.opacity {
  opacity: var(--Box-opacity);
}
.top {
  top: var(--Box-top);
}
.bottom {
  bottom: var(--Box-bottom);
}
.left {
  left: var(--Box-left);
}
.right {
  right: var(--Box-right);
}
.lineHeight {
  line-height: var(--Box-lineHeight);
}
@include borders('Box');
@include property('Box', 'width');
@include property('Box', 'height');
@include property('Box', 'background-color');
@include property('Box', 'transition');
@include property('Box', 'transform');
