@use '../styles/classes.module' as *;

:global(.#{$TradeRow}) {
  height: 4rem;
  border: 0.1rem solid #2e2e2e;
  border-radius: 0.5rem;
  color: #fff;
  width: 100%;
}

.noDataLabel {
  text-transform: uppercase;
  font-weight: 500;
  opacity: 0.8;
}
