$root: FlatHeader;

:global(.#{$root}) {
  font-size: 1em;
  display: flex;
  align-items: center;
  min-height: 5rem;
  padding: 0 min(19px, 1.9rem) 0 min(1.6rem, 16px);
  box-sizing: border-box;
  border-bottom: min(0.1rem, 1px) solid #262626;
  width: 100%;
  background: linear-gradient(180deg, #2d2d2d, rgba(45, 45, 45, 0));
}

.item {
  flex: 1;
  display: flex;
  align-items: center;
}

.itemCenter {
  justify-content: center;
}

.itemRight {
  justify-content: flex-end;
}

:export {
  root: $root;
}