@use '../styles/classes.module' as *;

:global(.#{$Header}) {
  font-size: 1em;
  display: flex;
  align-items: center;
  min-height: 5rem;
  padding: min(15px, 1.5rem) min(19px, 1.9rem) min(15px, 1.5rem) min(1.6rem, 16px);
  box-sizing: border-box;
  border-bottom: min(0.1rem, 1px) solid #262626;
  width: 100%;
  background: linear-gradient(180deg, #2d2d2d, rgba(45, 45, 45, 0));
}

.item {
  flex: 1;
  min-width: 1px;
  display: flex;
  align-items: center;
}

.itemCenter {
  justify-content: center;
}

.itemRight {
  justify-content: flex-end;
}