@use '../../../../node_modules/@cb-general/core/styles/mixins' as *;
@use '../styles/variables' as *;

$root: CgFormField;

:global(.#{$root}) {
  &:nth-child(n + 2) {
    margin-top: toRem(15);
  }
}

.label {
  margin-bottom: toRem(7);
}

.subLabel {
  font-weight: 400;
  color: white;
  font-size: 1.2em;
}

.error {
  margin-top: toRem(5);
  color: $colorRed;
  font-size: 1.1em;
}

:export {
  root: $root;
}
