@use '../../../../node_modules/@cb-general/core/styles/mixins' as *;
@use '../styles/variables' as *;

$root: ClassicFormField;

:global(.#{$root}) {
  &:nth-child(n + 2) {
    margin-top: toRem(15);
  }
}

.label {
  margin-bottom: toRem(7);
}

.subLabel {
  color: #799097;
  font-size: 0.9em;
}

.error {
  margin-top: toRem(5);
  color: red;
  font-size: 0.9em;
}

:export {
  root: $root;
}
