$prefix: wf;

@function cln($name) {
  @return $prefix + '-' + $name;
}

$Root: $prefix;
$TradingPanel: cln('TradingPanel');
$TradeButton: cln('TradeButton');
$Select: cln('Select');
$Slider: cln('Slider');
$App: cln('App');
$Header: cln('Header');
$Logo: cln('Logo');
$Story: cln('Story');
$TradingControls: cln('TradingControls');
$DesktopLayout: cln('DesktopLayout');
$ChartControls: cln('ChartControls');

:export {
  Root: $Root;
  TradingPanel: $TradingPanel;
  TradeButton: $TradeButton;
  Select: $Select;
  Slider: $Slider;
  App: $App;
  Header: $Header;
  Logo: $Logo;
  Story: $Story;
  TradingControls: $TradingControls;
  DesktopLayout: $DesktopLayout;
  ChartControls: $ChartControls;
}
