$root: GameButton;

:global(.#{$root}) {
  font-family: inherit;
  font-stretch: inherit;
  text-shadow: 0.5px 0.9px 2px rgb(14 13 13 / 61%);
  color: hsla(0, 0%, 100%, 0.9);
}

.color_default {
  background-color: #2c344f;
}

:export {
  root: $root;
}
