@use '../styles/variables' as *;

.content {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 6px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  white-space: pre-wrap;
  word-wrap: break-word;
  background: #2c2c45;
  box-shadow: 0 2px 4px 0 #000;
}

.color_default {
  color: white;
}

.color_success {
  color: black;
  background: $colorGreen;
}

.color_danger {
  color: white;
  background: $colorRed;
}

.color_warning {
  color: $colorRed;
  background: white;
}
