$root: MenuItemButton;

:global(.#{$root}) {
  color: #fff;
  font-size: 2.4em;
  text-transform: capitalize;
  padding: 1em 5px 1em 3em;
  width: 100%;
  justify-content: flex-start;

  &:hover,
  &:active,
  &.selected {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

:export {
  root: $root;
}
