$root: WkdConnectionStatus;

:global(.#{$root}) {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-image: url(./img/offline.png);
  background-size: contain;
}

.online {
  background-image: url(./img/online.png);
}

:export {
  root: $root;
}
