@use '../styles/classes.module' as *;
@use '~@cb-general/core/styles/mixins' as *;

.selectItem {
  font-family: 'IBM Plex Sans', Arial, sans-serif;
  font-size: 1.3em;
  font-weight: 400;
  color: white;
  border-radius: toRem(5);
  background-color: #ffffff17;
  padding: toRem(14) 2em toRem(18) toRem(13);

  :global(option) {
    color: black;
  }
}

.icon {
  font-size: 2em;
  right: 0.2em;
}

.disabled {
  opacity: 0.8;
}

:export {
  root: $Select;
}