$prefix: Flat;

@function cln($name) {
  @return $prefix + $name;
}

$Story: cln('Story');
$Button: cln('Button');
$CircularIndicator: cln('CircularIndicator');
$CircularIndicatorButton: cln('CircularIndicatorButton');
$Slider: cln('Slider');
$Drawer: cln('Drawer');

:export {
  Story: $Story;
  Button: $Button;
  CircularIndicator: $CircularIndicator;
  CircularIndicatorButton: $CircularIndicatorButton;
  Slider: $Slider;
}
