$prefix: Flat;

@function cln($name) {
  @return $prefix + $name;
}

$Story: cln('Story');
$Button: cln('Button');
$CircularIndicator: cln('CircularIndicator');
$CircularIndicatorButton: cln('CircularIndicatorButton');
$Slider: cln('Slider');
$Drawer: cln('Drawer');
$Menu: cln('Menu');
$MenuHeader: cln('MenuHeader');
$MenuHeaderButton: cln('MenuHeaderButton');
$MenuContent: cln('MenuContent');
$MenuItem: cln('MenuItem');
$MenuItemButton: cln('MenuItemButton');
$IconButton: cln('IconButton');
$TradeButton: cln('TradeButton');
$Overlay: cln('Overlay');
$PopoverPanel: cln('PopoverPanel');

:export {
  Story: $Story;
  Button: $Button;
  CircularIndicator: $CircularIndicator;
  CircularIndicatorButton: $CircularIndicatorButton;
  Slider: $Slider;
  IconButton: $IconButton;
  MenuHeader: $MenuHeader;
  MenuItemButton: $MenuItemButton;
  Menu: $Menu;
  MenuItem: $MenuItem;
  MenuHeaderButton: $MenuHeaderButton;
  MenuContent: $MenuContent;
  TradeButton: $TradeButton;
  Overlay: $Overlay;
  PopoverPanel: $PopoverPanel;
}
