.font_IBMPlexSans {
  font-family: 'IBM Plex Sans', sans-serif !important;
}

.font_Roboto {
  font-family: 'Roboto', sans-serif !important;
}

.font_SourceSansPro {
  font-family: 'Source Sans Pro', sans-serif !important;
}
