@import "animation";

.cb-Modal-overlay {
  box-sizing: content-box;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
  z-index: 1500;
}
.cb-Modal--wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.cb-Modal {
  padding: 20px;
  background: #010101 url(../img/body_bg.png) repeat;
  position: relative;
  z-index: 1;
  margin: auto;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}
.cb-Modal--actions {
  display: flex;
  margin-top: 20px;
  justify-content: flex-end;

  & > *:nth-child(n+2) {
    margin-left: 10px;
  }
}

