@import "../../styles/themes/galileo";

.cb-DepositModal {
  fieldset {
    border: none;
    margin: 0;
    padding: 0;

    &:nth-child(n+2) {
      margin-top: 20px;
    }

    .fieldset__label, .fieldset__value {
      width: auto;
      float: none;
      display: block;
    }

    .fieldset__label {
      margin-left: 0;
      margin-bottom: 10px;
    }

    .fieldset__value {
      width: 100%;
    }
  }

  .payment-address-field {
    display: flex;
    height: 30px;
    position: relative;

    > input {
      width: 100%;
    }

    > * {
      height: 100%;
    }
  }

  .qr-code {
    text-align: center;

    > img {
      padding: 10px;
      background: white;
    }
  }

  .note {
    color: $labelColor;
  }
}