@import '../../styles/themes/galileo';

.cb-RegisterAccountModal {
  .contact-support-link {
    margin-top: 30px;
    text-align: center;

    span {
      color: $labelColor;
      font-size: 0.9em;
      text-transform: uppercase;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
