.cb-WithdrawalModal {
  fieldset {
    border: none;
    margin: 0;
    padding: 0;

    &:nth-child(n + 2) {
      margin-top: 20px;
    }

    .fieldset__label,
    .fieldset__value {
      width: auto;
      float: none;
      display: block;
    }

    .fieldset__label {
      margin-left: 0;
      margin-bottom: 10px;
    }

    .fieldset__value {
      width: 100%;
    }
  }

  .current-balance {
    text-decoration: underline;
    cursor: pointer;
  }
}
