$root: WkdButtonGroup;

:global(.#{$root}) {
  font-size: 1em;
  display: inline-flex;
  padding: 0.1em;
  box-shadow: 0 max(-0.4em, -4px) min(3px, 0.3em) max(-1px, -0.1em) #666;
  border-radius: 3em;
  box-sizing: border-box;
  background-color: #242628;
  background-image: -webkit-linear-gradient(90deg, #27292b 2%, #242628 83%);

  .grouped {
    font-size: 1.2em;
    height: 2.8em;
    text-shadow: 0 max(-0.2rem, -2px) 0 rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 0;
    border-left: 0.1em solid #131b1e;
    border-right: 0.1em solid #131b1e;
    border-color: #131b1e #000;
    border-style: solid;
    border-width: 0.1em;
    flex: 1;

    &:last-child {
      border-top-right-radius: 3em;
      border-bottom-right-radius: 3em;
    }

    &:first-child {
      border-top-left-radius: 3em;
      border-bottom-left-radius: 3em;
    }

    &:hover {
      color: #a7f541;
    }

    &:active,
    &.selected {
      color: #a7f541;
      background-color: #323137;
      box-shadow: inset 0 0 0.8em 0.3em #1e1e1e,
        0 min(0.3em, 3px) min(0.3em, 3px) 0 rgb(0 0 0 / 70%);
    }
  }
}

:export {
  root: $root;
}
