$theme: 'wf' !default;

$colorGreen: #a7f541 !default;
$colorRed: #ff2727 !default;
$colorOrange: #fdab01 !default;
$colorYellow: #fff5a0 !default;

@if $theme == 'galileo' {
  $colorGreen: #07e275;
  $colorRed: #cf0c66;
  $sliderBg: linear-gradient(180deg, #99ffcc, $colorGreen 50%, #065d32);
  $sliderLabelColor: $colorGreen;
}