$root: WkdGameButton;

:global(.#{$root}) {
  font-size: 1em;
  font-family: Rockwell;
  font-weight: bold;
  font-stretch: condensed;
  color: white;
  min-height: 4em;
  padding: 0 0.6rem;
  border: 0.1rem solid #131b1e;
  text-transform: uppercase;

  &:disabled {
    filter: brightness(60%);
    transition: filter .5s ease-in-out;
  }
}

.color_default {
  background-color: #141c1f;
  background: linear-gradient(
                  180deg
          ,hsla(0,0%,100%,.35),hsla(0,0%,100%,.07) 50%,rgba(0,0,0,.14) 0,rgba(0,0,0,.58));
  box-shadow: inset 0 0.5rem 0.7rem hsl(0deg 0% 100% / 56%), 0 1.5rem 2.6rem rgb(7 1 0 / 38%), inset -0.2rem 0 0 rgb(0 0 0 / 31%), inset 0.2rem 0 0 rgb(0 0 0 / 34%);

  &:active {
    box-shadow: inset 0 0.3rem 0.1rem #232322,0 0.1rem 0.5rem hsla(0,0%,100%,.54);
    padding-top: 0.2rem;
  }
}

.color_primary {
  font-stretch: normal;
  font-weight: 800;
  letter-spacing: 0.22rem;
  background-color: #ec2e00;
  background-image: -webkit-linear-gradient(
                  -90deg
          ,hsla(0,0%,100%,.35),hsla(0,0%,100%,.08) 50%,hsla(0,0%,100%,.16) 0,hsla(0,0%,100%,0) 0,rgba(0,0,0,.14) 0,rgba(0,0,0,.15) 65%,#a40a00);
  box-shadow: inset 0 0.4rem 0.6rem #fff662,0 1.5rem 2.6rem rgba(7,1,0,.65),inset -0.2rem 0 0.3rem #731304;

  &:active {
    padding-top: 0.2rem;
    box-shadow: inset 0 0.3rem 0.1rem #232322,0 0.1rem 0.5rem hsla(0,0%,100%,.54);
  }

  .label {
    font-size: 1.9em;
  }
}

.label {
  font-size: 2em;
}

.sublabel {
  color: #faf135;
  font-size: 1.2em;
  position: relative;
  margin-right: 0.8rem;
  letter-spacing: -.05rem;
  font-weight: 400;
  white-space: nowrap;
}

:export {
  root: $root;
}
