$root: CoreSvgIcon;

:global(.#{$root}) {
  fill: currentColor;
  display: inline-block;
  flex-shrink: 0;
  user-select: none;
}

.size_large {
  font-size: 1.5em;
}

.size_xl {
  font-size: 2em;
}

:export {
  root: $root;
}
